body {
    font-family: 'Orbitron', Verdana, sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0;
    background-image: url("../images/img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.navbar {
    background-color: #000000;
    overflow: hidden;
}

h2 {
    color: crimson;
}
.navbar a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
}

.fade-in-text {
    font-family: Arial;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.content {
    padding: 100px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 300px;
}

.team-icon {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
}

img {
    border-radius: 50px;
}

p {
    color: aliceblue;
}

h2 {
    text-align: center;
}

.fade-in-text .nav {
    background: none;
    overflow: hidden;
}



.fade-in-text .nav a {
    float: right;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgb(248, 94, 94);
    border-radius: 20px;
}

.fade-in-text .nav a:hover {
    background-color: red;
    color: black;
}